<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANDLEPHONE - Comunicación Aeronáutica</title>
    <link rel="stylesheet" href="/templates/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="icon" href="/templates/walkie-talkie.png" type="image/png"> <!-- Favicon -->
</head>
<body>
    <div id="register">
        <input id="legajo" placeholder="Número de legajo" type="number">
        <input id="name" placeholder="Nombre o Apellido">
        <button onclick="register()">Registrarse</button>
    </div>

    <div id="main">
        <img src="/templates/logo.png" alt="HANDLEPHONE Logo" class="logo"> <!-- Logo -->
        <h2>Comunicación Aeronáutica</h2>
        <div id="map"></div>
        <div id="flights-window">
            <h3>Datos de Vuelos</h3>
            <div id="message-list"></div>
        </div>
        <div id="chat-window">
            <h3>Conversación</h3>
            <div id="chat-list"></div>
        </div>
        <button id="talk" onclick="toggleTalk()">Hablar</button>
        <button id="mute" onclick="toggleMute()">Mutear</button>
        <button id="history" onclick="showHistory()">Historial</button>
        <button id="logout-btn" onclick="logout()">Cerrar Sesión</button>
        <div id="users">Usuarios conectados: 0</div>
    </div>

    <div id="history-screen">
        <button onclick="backToMain()">Volver</button>
        <h2>Historial</h2>
        <div id="history-list"></div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/templates/script.js"></script>
</body>
</html>
